.timer > h2.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.countdown {
    color:red;
    min-height: 35px;
    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 0;
        color: black
    }
    100% {
        opacity: 1;
        color: blue;
    }
}