main.treadmill-container {
    display:'flex';
    flex-direction:column;
    text-align: center;
    min-height: 500px;
    justify-content: space-between;
}

main.treadmill-container > button {
    max-width: 200px;
    place-self: center;
}

main.treadmill-container h1 {
    text-decoration: underline;
}

main.treadmill-container h3 {
    color: green;
    font-size: 2rem;
}

main.treadmill-container time {
    font-size: 2rem;
}