form {
    max-width: 600px;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 0 0 15px grey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 30px;
    background-color: whitesmoke;
}

form:invalid {
    border-color: red;
}

form:valid {
    border-color: green;
}

fieldset {
    margin-bottom: 10px;
    width: 100%;
}

fieldset:invalid {
    color: red;
    border-color: red;
}

fieldset:valid {
    color:green;
    border-color:green;
}

fieldset:focus-within {
    color:blue;
    border-color:blue;
}

fieldset:has(input:placeholder-shown){
    color:black;
    border-color:black;
}

input {
    padding: 0 10px;
    outline-offset: 5px;
    width: 100%;
    background-color: whitesmoke;
    border: none;
    height:100%;
}

input:invalid {
    border-bottom: 1px solid red;
}

input:valid {
    border-bottom: 1px solid green;
}

input:focus {
    border-bottom: none;
}

legend {
    text-align: left;
}

select {
    padding: 0 10px;
    outline-offset: 5px;
}

span {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

span > button {
    padding: 10px;
    border-radius: 5%;
}

span > button[type = submit]:enabled:hover {
    color: white;
    background-color: green;
}
span > button[type = submit]:enabled:active {
    color: white;
    background-color: green;
    transform: translateY(-5px);
    box-shadow: 0 4px 5px -2px grey;
}

span > button[type = submit]:disabled {
    background-color: whitesmoke;
    border: 1px solid red;
    color: red;
}

span > button[type = submit]:disabled:hover {
    color: white;
    background-color: red;
    cursor: not-allowed;
}

span > button[type = reset]:hover {
    background-color: yellow;
}

span > button[type = reset]:active {
    background-color: yellow;
    transform: translateY(-5px);
    box-shadow: 0 4px 5px -2px grey;
}