
:root {
  --prm-drk-green : #012e01;
  --prm-lgt-green: #04fac1;
  --prm-drk-blue: #09179a;
  --prm-lgt-blue: #9eccdc;
  --prm-lgt-pink: #e0cbed;
  --prm-drk-red: #710101;

  --bpm-animation-duration: 2.72s;
  --primary-blue : linear-gradient(45deg, #9eccdc, whitesmoke);
  --secondary-blue : linear-gradient(-45deg, darkblue, whitesmoke);
  --success-color: linear-gradient(135deg, #012e01 70%, #04fac1 );
  --success-color-inverted: linear-gradient(135deg, #04fac1 70%, #012e01);

  --error-color: linear-gradient(45deg, #710101 70%, #e0cbed );
  --error-color-inverted: linear-gradient(45deg, #e0cbed  70%, #710101);

  --reset-color : linear-gradient(45deg, #09179a 70%, #e0cbed);
  --reset-color-inverted : linear-gradient(45deg, #e0cbed 70%, #09179a);

  --neutral-btn-clr : linear-gradient(135deg, black 70%, white);
  --neutral-btn-clr-inverted : linear-gradient(135deg, white 70%, black);
 --text-shadow-standard : -1px 1px 0 #000,
 1px 1px 0 #000,
 1px -1px 0 #000,
 -1px -1px 0 #000;
} 
* {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: var(--primary-blue);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 3%;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

section {
  display: contents
}

header {
  padding: .5rem;
  margin-bottom: 1rem;
  /* border-bottom: 3px solid darkblue; */
}

header > menu {
  display: flex;
  flex-direction: row;
}

header li {
  margin: 10px;
  padding: 10px;
  list-style: none;
}

.hidden {
  display: none;
}

h2[data-direction="up"] {
  animation-name:blink;
  animation-duration:  var(--bpm-animation-duration);
  animation-iteration-count: infinite;
  color: var(--success-color);
  text-align: left;
  width : clamp(100px, 50%, 300px);
}

h2[data-direction="down"] {
  animation-name:blink;
  animation-duration:  var(--bpm-animation-duration);
  animation-iteration-count: infinite;
  color:var(--error-color);
  text-align: left;
  width : clamp(100px, 50%, 300px);
}

h2[data-direction="down"]::before {
  content : '▼  ';
}

h2[data-foot="right"]::after {
  content : '  right';
}

h2[data-direction="up"]::before {
  content : '▲  ';
}

h2[data-foot="left"]::after {
  content : '  left';
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

