
:root {
  --default-font-size: 16px;

  --prm-drk-green : #012e01;
  --prm-lgt-green: #04fac1;
  --prm-drk-blue: #09179a;
  --prm-lgt-blue: #9eccdc;
  --prm-lgt-pink: #e0cbed;
  --prm-drk-red: #710101;

  --bpm-animation-duration: 2.72s;
  --primary-blue : linear-gradient(45deg, #9eccdc, whitesmoke);
  --secondary-blue : linear-gradient(-45deg, darkblue, whitesmoke);
  --success-color: linear-gradient(135deg, #012e01 70%, #04fac1 );
  --success-color-inverted: linear-gradient(135deg, #04fac1 70%, #012e01);

  --error-color: linear-gradient(45deg, #710101 70%, #e0cbed );
  --error-color-inverted: linear-gradient(45deg, #e0cbed  70%, #710101);

  --reset-color : linear-gradient(45deg, #09179a 70%, #e0cbed);
  --reset-color-inverted : linear-gradient(45deg, #e0cbed 70%, #09179a);

  --neutral-btn-clr : linear-gradient(135deg, black 70%, white);
  --neutral-btn-clr-inverted : linear-gradient(135deg, white 70%, black);
 --text-shadow-standard : -1px 1px 0 #000,
 1px 1px 0 #000,
 1px -1px 0 #000,
 -1px -1px 0 #000;
} 
* {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: var(--primary-blue);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 3%;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:auto;
  overflow-x: auto;
}
hr {
  overflow: visible; /* For IE */

  border-width: 3px 2px 0px 3px;
  border-color: black;
  border-style: dotted;
  width: 95%;
  height: 30px;
  border-radius: 20px;
  margin-top: 50px;
}


section {
  display: contents;
  margin-bottom: 5vh;
  border-bottom: 2px dashed black;
}

header {
  padding: .5rem;
  margin-bottom: 1rem;
  /* border-bottom: 3px solid darkblue; */
}

header > menu {
  display: flex;
  flex-direction: row;
}

header li {
  margin: 10px;
  padding: 10px;
  list-style: none;
}

.hidden {
  display: none;
}

h2[data-direction="up"] {
  animation-name:blink;
  animation-duration:  var(--bpm-animation-duration);
  animation-iteration-count: infinite;
  color: var(--success-color);
  text-align: left;
  width : clamp(100px, 50%, 300px);
}

h2[data-direction="down"] {
  animation-name:blink;
  animation-duration:  var(--bpm-animation-duration);
  animation-iteration-count: infinite;
  color:var(--error-color);
  text-align: left;
  width : clamp(100px, 50%, 300px);
}

h2[data-direction="down"]::before {
  content : '▼  ';
}

h2[data-foot="right"]::after {
  content : '  right';
}

h2[data-direction="up"]::before {
  content : '▲  ';
}

h2[data-foot="left"]::after {
  content : '  left';
}

p, input, a, button {
  font-size: var(--default-font-size);
}

main > h1 {
  text-decoration: underline;
}

article {
  background-color: whitesmoke;
  padding: .75rem;
  margin: 1rem;
  border: 2px solid black;
  box-shadow: 0 0 15px lightgrey;
  border-radius: 5%;
}

article > h2, article > h1 {
  text-align: center;
  text-decoration: underline;
}

article > p {
  text-align: left;
}




header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height:160px;
  width:100%;
}

.logo {
  height: 100px;
  width: 10%;
  border-radius: 15%;
}

#metric-switcher {
  position: fixed;
  top: 80%;
  right: 0%;
  background-color: whitesmoke;
  z-index: 10;
  border-radius: 5px 0 0 5px;
  border: 2px solid black;
}

#metric-switcher > fieldset {
  border: none;
  margin: 0;
  padding: 10px;
}

#metric-switcher > label {
  width: 95%;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media print {
  * {
    box-shadow: none !important;
    background: transparent !important;
    color: black !important;
    border-color: #000 !important;
  }
  footer, header, nav, button, a {
    display: none !important;
  }
}