
:root {
  --bpm-animation-duration: 2.72s;
}
* {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, lightblue, whitesmoke);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 3%;
  align-items: center;
  justify-content: center;
}

header {
  padding: .5rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid darkblue;
}

header > menu {
  display: flex;
  flex-direction: row;
}

header li {
  margin: 10px;
  padding: 10px;
  list-style: none;
}

.hidden {
  display: none;
}

h2[data-direction="up"] {
  animation-name:blink;
  animation-duration:  var(--bpm-animation-duration);
  animation-iteration-count: infinite;
  color:green
}

h2[data-direction="down"] {
  animation-name:blink;
  animation-duration:  var(--bpm-animation-duration);
  animation-iteration-count: infinite;
  color:red;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 400px) {
  body {
    margin-top: 100px;
  }
}