button {
    min-width: 50px;
    transition: all .3s ease-in-out;
    padding: 10px;
    border-radius: 5%;
    max-width: 200px;
    border-width: 1px;
    border-style: solid;
  text-wrap: nowrap;
}

button:hover {
    cursor:pointer;
}

button[type=submit]:enabled {
    color: white;
    background-image: var(--success-color);
    text-shadow: var(--text-shadow-standard);

}

button[type = submit]:enabled:hover {
    color: black;
    text-shadow: none;
    background-image: var(--success-color-inverted);
}

button[type = submit]:enabled:active {
    color: black;
    background-image: var(--success-color-inverted);
    transform: translateY(-5px);
    box-shadow: 0 4px 5px -2px grey;
}

button[type = submit]:disabled {
    color: white;
    text-shadow: var(--text-shadow-standard);
    background-image: var(--error-color);
}

button[type = submit]:disabled:hover {
    color: black;
    background-image: var(--error-color-inverted);
    text-shadow: none;
}

button[type = reset] {
    color: white;
    text-shadow: var(--text-shadow-standard);
    background-image: var(--reset-color);
}

button[type = reset]:hover {
    color: black;
    text-shadow: none;
    background-image: var(--reset-color-inverted);
}

button[type = reset]:active {
    color: black;
    background-image: var(--reset-color-inverted);
    transform: translateY(-5px);
    box-shadow: 0 4px 5px -2px grey;
}

button[type = button] {
    background-image: var(--neutral-btn-clr);
    color: white
  }

button[type = button]:hover {
    background-image: var(--neutral-btn-clr-inverted);
    color: black
  }
  
  button[type = button]:active {
    transform: translateY(-5px);
    box-shadow: 0 4px 5px -2px grey;
  }

  button[disabled]:hover, button[disabled]:active {
    cursor: not-allowed;
  }

  span:has(button) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  button[data-direction="next"]::after {
    content: '  ▶';
    font-size: 10px;
    margin: 5px;
  }

  button[data-direction="previous"]::before {
    content: '◀  ';
    font-size: 10px;
    margin: 5px;
  }

  button[data-showhamburger="true"] {
    min-height:100px;
  }