details {
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto; 
    text-align: left;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

details.popover[open] > * {
    border: 2px solid black;
    position: absolute;
    padding: 15px 15px 15px 25px;
    background-color: whitesmoke;
}

summary:focus:hover{
    cursor: pointer;
}