details {
    overflow: hidden;
    text-align: left;
    width: 100%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 1rem;
    transition: height .3s ease-in-out;
}

details:has(summary:focus), details:target {
    box-shadow: 0 0 15px black;
}

summary:focus {
    background-color: var(--prm-lgt-blue);
    color: var(--prm-drk-blue);
    text-decoration: underline;
    outline: none;
    /* box-shadow: 0 0 15px black; */
}

summary:active {
    background-color: black;
    color: var(--prm-lgt-blue);
}

details > * {
    margin: 0;
    width: 100%;
}

details > table {
    width:100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: hidden;
    box-shadow: none;
}



details > ul, details a {
    background-color: whitesmoke;
}

details > ul {
    display: flex;
    flex-direction: column;
}

details[open]::details-content {
    background-color: whitesmoke;
}
details[open]{
    padding-bottom:15px;
    min-width: 100%;
    width:  fit-content;
    height:fit-content;
}

select + details {
    margin-top: 15px;
    margin-left: 0;
}

summary {
    background-color: var(--prm-drk-blue);
    color : white;
    padding: 1rem;
    outline: none;
}

summary:hover, summary:active{
    cursor: pointer;
}

summary::marker {
    background-color: var(--prm-lgt-blue);
}


footer > details, footer > details > summary {
    border-radius: 0;
    border: none;
}

@media screen and (min-width:500px) {
    details > ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width:100%;
        padding: 0px;
        justify-content: space-evenly;
    }
}