details {
    /* overflow: auto;  */
    text-align: left;
    width: 100%;
    /* max-width: fit-content; */
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 1rem;
    transition: height .3s ease-in-out;
}

details > * {
    margin: 0;
    width: 100%;
}

details > table {
    width:100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: hidden;
    box-shadow: none;
}

details > ul, details a {
    background-color: whitesmoke;
}

details > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

details[open]::details-content {
    background-color: whitesmoke;
}
details[open]{
    padding-bottom:15px;
    min-width: 100%;
    width:  fit-content;
}

select + details {
    margin-top: 15px;
    margin-left: 0;
}

summary {
    background-color: var(--prm-drk-blue);
    color : white;
    border-radius: 10px;
}

summary:hover{
    cursor: pointer;
}

summary::marker {
    background-color: var(--prm-lgt-blue);
}

@media screen and (min-width:600px) {
    details > ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 350px;
        padding-right:50px
    }
}
