form {
    max-width: 600px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    box-shadow: 0 0 15px lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 30px;
    background-color: whitesmoke;
    transition: max-width 2s ease, 
        border-color 1s ease,
        box-shadow 2s ease;
}

form label {
    display:inline-block;
    margin: 10px 0;
}

form:invalid {
    border-color: red;
}

form:valid {
    border-color: green;
}

form:focus-within {
    width: 90%;
    max-width: 800px;
    box-shadow: 0 0 20px black; 
    border-color: lightblue;
}

fieldset {
    margin-bottom: 10px;
    width: 100%;
}

fieldset:invalid {
    color: red;
    border-color: red;
}

fieldset:valid {
    color:green;
    border-color:green;
}

fieldset:focus-within {
    color:blue;
    border-color:blue;
}

fieldset:has(input:placeholder-shown){
    color:black;
    border-color:black;
}

input {
    padding: 5px 10px;
    outline-offset: 5px;
    width: 100%;
    background-color: whitesmoke;
    border: none;
    height:100%;
}

input:invalid {
    border-bottom: 1px solid red;
}

input:valid {
    border-bottom: 1px solid green;
}

input:blank {
    border-bottom: 1px solid black;
}

input:focus {
    border-bottom: none;
}

input:placeholder-shown {
    border-bottom: 1px solid black;
}

legend {
    text-align: left;
}

select {
    padding: 0 10px;
    outline-offset: 5px;
}

form span {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

label:has(input[type='checkbox']) {
    display: flex;
    flex-direction: row;
}

input[type='checkbox'] {
    width: auto;
    margin: 5px 10px 5px 5px;
}

.validity-error {
    color: red
}

.message-container {
    min-height: 60px;
    width:100%;
    text-align: center;
}

option[disabled][value='default'] {
    display: none;
}


option:checked {
    background-color: red;
}

fieldset > span {
    justify-content: start;
}

fieldset:has(input:required:placeholder-shown) legend::after {
    color: 'red';
    width: 20px;
    height: 20px;
    font-size: 18px;
    z-index: 10;
    content: '*';
    position: relative;
    left: 5px;
    margin-right: 10px;
}

fieldset:has(select:required) legend::after {
    color: 'red';
    width: 20px;
    height: 20px;
    font-size: 18px;
    z-index: 10;
    content: '*';
    position: relative;
    left: 5px;
    margin-right: 5px;
}

fieldset:has(select[value='default']) {
    border-color: black;
    color: black;
}

/* fieldset:has(select:required > option:checked) legend::after {
    color: 'red';
    width: 20px;
    height: 20px;
    font-size: 18px;
    z-index: 10;
    content: '';
    position: relative;
    left: 5px;
    margin-right: 5px;
} */

form:has(input:placeholder-shown) {
    border-color:black;
}


fieldset:has(select:required:empty) legend::after {
    color: 'red';
    width: 20px;
    height: 20px;
    font-size: 18px;
    z-index: 10;
    content: '*';
    position: relative;
    left: 5px;
    margin-right: 5px;
}

@media screen and (max-width:400px) {
    form {
        width:100%;
        border: none;
        border-radius: 0;
    }
}

