form {
    max-width: 600px;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 0 0 15px lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 30px;
    background-color: whitesmoke;
    transition: max-width 2s ease, 
        border-color 1s ease,
        box-shadow 2s ease;
}

form label {
    display:inline-block;
    margin: 10px 0;
}

form:invalid {
    border-color: red;
}

form:valid {
    border-color: green;
}

form:focus-within {
    width: 90%;
    max-width: 800px;
    box-shadow: 0 0 20px black; 
    border-color: lightblue;
}

fieldset {
    margin-bottom: 10px;
    width: 100%;
}

fieldset:invalid {
    color: red;
    border-color: red;
}

fieldset:valid {
    color:green;
    border-color:green;
}

fieldset:focus-within {
    color:blue;
    border-color:blue;
}

fieldset:has(input:placeholder-shown){
    color:black;
    border-color:black;
}

input {
    padding: 0 10px;
    outline-offset: 5px;
    width: 100%;
    background-color: whitesmoke;
    border: none;
    height:100%;
}

input:invalid {
    border-bottom: 1px solid red;
}

input:valid {
    border-bottom: 1px solid green;
}

input:blank {
    border-bottom: 1px solid black;
}

input:focus {
    border-bottom: none;
}


legend {
    text-align: left;
}

select {
    padding: 0 10px;
    outline-offset: 5px;
}

form span {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:400px) {
    form {
        width:100%;
        border: none;
        border-radius: 0;
    }
}

