a {
    text-decoration: none;
    padding: 10px;
}

a:visited {
    text-decoration: line-through;
    color: blue
}

a:hover {
    font-weight: 500;
    text-decoration: underline;
}

a:active {
    font-weight: 500;
    color: green;
    text-decoration: underline;
}

a:disabled {
    text-decoration: strike-through;
}