
a {
    text-decoration: none;
    padding: clamp(3px, 1rem, 10px);
    border: none;
    background-color: var(--prm-lgt-blue);
    transition: all .3s ease-in-out;
}

a:visited {
    text-decoration: line-through;
    color: black
}

a:hover {
    /* text-decoration: underline; */
    border-color: var(--prm-drk-blue)
}

a:focus {
    text-decoration: underline;
    border-color: var(--prm-drk-blue);
    outline: none;
}

a:active {
    background-color: var(--prm-lgt-green);
    border-color: var(--prm-drk-green);
    color: var(--prm-drk-green);
    text-decoration: underline;
}

a:disabled {
    text-decoration: strike-through;
}

nav button {
   margin: 0px;
   padding: clamp(5px, 1rem, 10px);
   border: 2px solid var(--prm-lgt-blue);
   background-color: var(--prm-lgt-blue);
}
.link {
    min-height: 15px
}

button.link {
    border: 2px solid var(--prm-lgt-blue);
    width: 100%;
    text-align: left;
    border-radius: 0%;
    font-size: clamp(8px,1rem,16px);
    overflow: hidden;
}

button.link[data-active="false"]::after {
    content: '  ►';
    font-size: 10px;
}

button.link[data-active='true']::after {
    content: '  ▼';
    font-size: 10px;
}

button.link:hover {
    /* background-color: darkblue; */
    /* text-decoration: underline; */
    /* width: 100%; */
    text-align: left;
}

button.link:focus{
    text-decoration: underline;
    outline: none;
    border-color: var(--prm-drk-blue);
}

button.link:active{
    text-decoration: underline;
    outline: none;
    background-color: var(--prm-lgt-green);
    border-color: var(--prm-drk-green);
    color: var(--prm-drk-green);
}


nav a {
    width: 100% !important;
    display: block;
}

nav > ul > * {
    width:100%;
}

nav li {
    list-style: none;
    font-weight: 500;
}

nav > ul > li {
    width: clamp(100px, 10rem ,300px);
}

/* button.link[data-layer="1"] + ul > li:nth-child(even) {
    background-color: darkgray;
} */

.light {
    background-color: var(--prm-lgt-blue);
    margin:0;
    padding:0;
    max-height: 42px;
    min-width: 160px;
}

.light > a {
    background-color: inherit;
    color: inherit;
    margin: 0;
    height: 100%;
    padding: 5%;
    max-height: 42px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dark {
    background-color: var(--prm-drk-blue);
    margin:0;
    color: white;
    padding:0;
    max-height:42px;
    min-width: 160px;
}
.dark > a {
    background-color: inherit;
    color: inherit;
    height: 100%;
    padding: 5%;
    margin: 0;
    max-height:42px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:inherit;
}

li.subnav {
    background-color: transparent;
    border:none;
    width: clamp(160px, 10%, 250px);
}

.subnav button  {
    width: clamp(200px, 10%, 250px);
    height: 100%;
    border:none;
    padding: 5%;
}

.subnav li  {
    margin: 0;
    padding: 0;
}

.subnav > button {
    width: 160px;
    margin:0;
}

.subnav {
    margin:0;
    padding:0;
}

.link {
    width: clamp(50px, 15%, 140px);
}

button.link[data-active="false"] + * {
    display: none !important;
}

button.link[data-active="true"] + * {
    position: relative;
    z-index: 100;
}

button[data-showhamburger="false"] {
    display: none;
}

ul {
    width:100%;
}

a {
    text-overflow: ellipsis;
    text-wrap: 'nowrap';
}

@media screen and (min-width : 800px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav > ul {
        display: flex;
        flex-direction: row-reverse;
        height: clamp(10px, 10rem, 40px);
    }

    nav > ul > li, nav > ul >button,
    nav a {
        padding: clamp(0px, 1%, 10px);
        margin: clamp(0px, 1%, 10px);
    }

}

@media (max-width : 800px) {
    nav {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: start;

        /* left: -5%; */
        /* top: 5%; */
        /* width: 100%; */
        padding: 0;
        margin: 0;
    }
    nav > button {
        /* transform: rotate(90deg); */
        width: 160px;
        /* height: 100px; */
        opacity: .5;
        /* position: relative;
        top: -25px;
        margin: 0;
        left: 70px; */
        overflow-wrap:break-all;
        /* word-wrap: break-word; */
    }
    nav > ul {
        margin: 0;
        padding: 0;
        /* display: flex;
        flex-direction: row-reverse;
        height: clamp(10px, 10rem, 40px); */
    }
    ul[data-showAll="false"] {
        display: none;
    }

    /* main {
        padding-top: 100px;
    } */

    main h1,main h2,main h3, main h4, main h5, main h6,main p {
        text-align: left;
        width:100%;
    } 

    header {
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      .dark,.light {
        min-width:160px;
        /* max-width:140px; */
        height: auto;
      }
    
      .logo {
        width: 160px;
        border-radius: 5%;
      }
}