div.loader::before {
    content: ' ';
    display:block;
    height:50px;
    width: 50px;
    margin: 3px 6px 3px 12px;
    border-radius: 50%;
    border: 5px solid white;
    border-top: 5px solid black;
    animation: spin 2s infinite;
}

div.loader {
    height:100px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid black;
    z-index: 10;
    position:fixed;
    top:45%;
    left:45%;
    background-color: white;
}

div.loader::after {
    content: 'Loading...';
    display:block;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

