table {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
}

table, th, td {
    border: 1px solid black;
    padding: 4px 7px;
    background-color: whitesmoke;
}

table {
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 0 15px grey;
}