table {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
    overflow-x: auto;
}

table * {
    text-align: center !important;
}

table h1, table h2, table h3, table h4, table h5, table h6 {
    margin: 0;
}

table, thead, tbody, th, td {
    border: 1px solid black;
    padding: 4px 7px;
    background-color: whitesmoke;
}

table {
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 0 15px grey;
}

tr[data-currentcategory='yes'], td[data-currentcategory='yes'] {
    outline : 2px solid var(--prm-drk-green);
    color: var(--prm-drk-green);
}

tr[data-currentcategory='yes'], td[data-currentcategory='yes']::before {
    content: '▶ ';
    color: var(--prm-drk-green);
}


td[data-age="1"] {
    background-color: green;
}

table[data-male="1"] > thead, tbody{
    border-color: green;
}

table[data-female="1"] > thead, tbody{
    border-color: green;
}
/* tr[data-category='very-low'] > * {
    background-color: red;
} */

/* @media print {

    table {
        margin-bottom: 20px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: capitalize;
    }
    
    table, thead, tbody, th, td {
        border: 1px solid black;
        padding: 4px 7px;
        background-color: whitesmoke;
    }
    
    table {
        border-collapse: collapse;
        margin: 20px;
        box-shadow: 0 0 15px grey;
    }
    
    tr[data-currentcategory='yes'] {
        outline : 2px solid var(--prm-drk-green);
        color: var(--prm-drk-green);
    }
    
    tr[data-currentcategory='yes']> td:first-child::before {
        content: '▶ ';
        color: var(--prm-drk-green);
    }

} */

@media screen and (max-width:400px) {
    main {
        padding: 3px;
    }
    article {
        padding: 1px;
        width:100%;
    }

    details {
        margin: 0px;
        border: none;
        max-width: 380px;
    }

    details[open] {
        border: none;
        max-width: 380px;
    }
    
    table {
        width: 100%;
        box-shadow: none;
        max-width: 380px;
        margin: 15px 0px;
        padding: 0px;
        border-right: none;
        border-left: none;
        outline: .5px solid black;
    }



 
    thead {
        padding: 0px;
        border: none;
        /* outline: 1px solid black; */

    }

    td {
        width: 7px;
        overflow: hidden;
        word-break: normal;
        padding: 1px;
        margin: 0px;
        border-width:0px;
        outline: .5px solid black;
    }
    tr{
        max-width: 380px;
        padding: 0px;
    }
    tbody {
        outline: 1px solid black;

    }
}